@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

body{
  background-image: url('https://thumbs.gfycat.com/AnimatedNeatAfricanelephant-size_restricted.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.moon{
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.height{
  height: 75vh;
}


@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}


